---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2022 - Actual",
    title: "Desarrolaldor Backend Junior-MidLevel",
    description:
    "En mi rol como Desarrollador Backend en Blur-Effect, me he especializado en desarrollar y mantener la lógica central de aplicaciones, integrando eficientemente sistemas de autenticación y servicios de terceros como Stripe y Algolia. Mis responsabilidades abarcan desde la realización de pruebas unitarias hasta la elaboración de documentación clara para APIs GraphQL. He colaborado estrechamente con equipos multidisciplinarios para asegurar la seguridad y la funcionalidad óptima de las aplicaciones, destacando por mi habilidad para identificar y solucionar problemas técnicos en el desarrollo backend.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
